<!--<div class="entete_gauche">
	  				<img width="300" src="../assets/img/logoCAPSKILLS.jpg"/>

	  		</div>
	<div class="entete_droite">
	  				<p>Bienvenue sur CAPSKILLS.<br>  Application d'évaluation et le<br> suivi des compétences.</p>
	  			</div>-->

	  		 <div class="row">
	  		 	
  <div class="col-sm-4"><img width="300" src="../assets/img/logoCAPSKILLS.jpg"/></div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4"><p>Bienvenue sur CAPSKILLS.<br>  Application d'évaluation et le<br> suivi des compétences.</p></div>
</div> 