



.entete_droite{
	float: right;
	width: 100%;
	font-family: 'PT Serif', serif;
	background-color: blue;

}

.entete_gauche{
	float: left;
	width: 100%;
	font-family: 'PT Serif', serif;
	background-color: red;


}