
<div *ngIf="login">


<!--
<nav>
      <a routerLink="/">Dashboard</a>
      <a routerLink="/heros">Heros</a>
 </nav>-->


 <ul id="menu-demo2">
	<li><a href="/">Accueil </a>
		<ul>
			
		</ul>
	</li>
	<li><a href="#">Compétences </a>
		<ul>
			<li><a href="/competences/ajouter">Ajouter compétences</a></li>
			<li><a href="/competences/modifier">Modifier Compétences</a></li>
			<li><a href="/show-skills">Consulter compétences</a></li>
			<li><a href="/competences/ConsulterBilan">Consulter bilan</a></li>
		</ul>
	</li>
	<li><a href="#">Passer Référent</a>
		<ul>
			<li><a href="/competences/validerCompetence">Valider Compétences</a></li>
			<li><a href="/competences/rechercherCompetences">Rechercher compétences</a></li>
			<li><a href="/competences/definirCible">Définir une cible</a></li>
			<li><a href="/competences/affecterCollaborateur">Affecter un collaborateur à projet</a></li>
		</ul>
	
	
	</li>
	<li><a href="/deconnecter">Déconnection</a>
		
	
	</li>
</ul>
</div>