<mat-toolbar class = 'header'> 
    <span> <img class = 'image' src = './assets/img/logocapskills.jpg'>  </span>
   <span class = "space"></span>
   <div layout="row" layout-wrap>
     <br/> <br/>
      <div flex="50"> <button (click)='logout($event)' mat-raised-button width="30" bgcolor="FFFFF">Déconnexion</button></div>
      <br/>
      <div flex="50" margin-top="20px"><button mat-raised-button (click)="referent($event)">Profil Référent</button> </div>
   </div>
  </mat-toolbar>
  <div class = 'logimage'>
    <img src='image' src = './assets/img/user.png' height="50px" width="50px">
    {{currentUser.email}}
  </div>

<fieldset class="fieldsetSection">
    <legend>Tableau des compétences</legend>
   

      <div style="padding-left: 67%;">
      <form class="form-search form-inline">
          <input type="text" class="search-query"  (keyup)="applyFilter($event.target.value)"  placeholder="Search..." />
     </form>
    </div>
<div class="section mat-elevation-z8" >
    
    

    <mat-table #table [dataSource]="dataSource" matSort >
       
        <!-- Categories Column -->
        <ng-container matColumnDef="skillType">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Catégorie </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.skillTypeName}} </mat-cell>
        </ng-container>
    
        <!-- skill Column -->
        <ng-container matColumnDef="skill">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Compétences </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.skillName}} </mat-cell>
        </ng-container>
    
        <!-- Actual Level Column -->
        <ng-container matColumnDef="actualGrade">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Niveau Actuel</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
          <star-rating-comp [starType]="'svg'" [rating]=element.actualGrade [readOnly]="true"></star-rating-comp>
    </mat-cell>
        </ng-container>
    
        
        <!-- grade-target Column -->
        <ng-container matColumnDef="targetGrade"  >
          <mat-header-cell *matHeaderCellDef mat-sort-header> Niveau ciblé</mat-header-cell>
          <mat-cell *matCellDef="let element"> 

    <star-rating-comp [starType]="'svg'" [rating]=element.targetGrade [readOnly]="true"></star-rating-comp>
           </mat-cell>
        </ng-container>
    
         <!-- grade-objectif Column -->
        <ng-container matColumnDef="collaboratorGrade">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Niveau Collaborateur </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
    <star-rating-comp ng-if="element.collaboratorGrade" [starType]="'svg'" [rating]=element.collaboratorGrade [readOnly]="true"></star-rating-comp>
    </mat-cell>
     
        </ng-container>
    
         <!-- Modify Column -->
        <ng-container matColumnDef="modify">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Modifier</mat-header-cell>
        <mat-cell *matCellDef="let element ;let i=index;"> 
           <a (click)="openTableauCompetenceUpdate(element,i)"><img src="../assets/img/modify.png" height="30px" width="30px" > </a> 
        </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
      </mat-table>
      <br/>
 <!--  <mat-card>
          <button mat-raised-button (click)="openTableauCompetenceAdd()">Add grading</button>
          <button mat-raised-button  >Voir Bilan</button>
        </mat-card>
      -->
        <div mat-dialog-actions>
            <button mat-raised-button (click)="openTableauCompetenceAdd()">Ajouter un niveau</button>
           <button mat-raised-button style=" margin-left:450px;" (click) = 'bilan($event)' >Voir Bilan</button>
        </div>
      
   <!-- <button mat-raised-button [routerLink]="['/skills/add']">Add new Skill</button>-->
    </div>
  </fieldset>
    

