.footer {
<<<<<<< HEAD
     position: fixed;
=======
     position: relative;
>>>>>>> cecile
     margin: 50px auto 0 auto;
     bottom: 0;
     width: 100%;
     height: 60px;
     line-height: 60px;
     background-color: #007dba;
     text-align: center;
     text-decoration-color: #ffffff;
     font-size: 36px;
     color: white;
     font-family: 'Verdana', serif;
}




