/* CSS DU HEADER */

.header {
    background-color: white;
    height: 150px;
}

.image-header{
    width: 300px;
}

.space{
    flex: 1 1 auto;
}

/* CSS DES BOUTONS */

.career-manager-button{
    margin-top: 500 px;
}

.mat-button, .mat-raised-button{
    background-color:#007dba; 
    display: block;
    -webkit-text-fill-color: white;
    width: 130px;
    margin-left: 15px;
}

.mat-dialog-title{
    background-color:#007dba;
}

/*******************************************************/



.text-header {
    font-family: 'Verdana', serif;
    font-size: 30px;
    padding-top: 30px;
    font-weight: bold;
    color: grey;
}



.mat-header-cell.mat-sort-header-sorted {
    color: black;
    }

.example-container {
    display: flex;
    flex-direction: column;
  }
  
.example-container > * {
    width: 100%;
    height: 100%;
}
