.header {
    background-color: white;
}

.space{
    flex: 1 1 auto;
}

.image{
    width: 300px;
    padding-top: 50px;
}

.text-header {
    font-family: 'Verdana', serif;
    font-size: 30px;
    padding-top: 30px;
    font-weight: bold;
    color: grey;
}

.connexion {
  background: #fff;  
  margin: 200px auto 0 auto;
  border: 1px solid #ccc;
  position: relative;    
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.15);
  width:45%;
  min-width: 300px;
  padding:15px; 
}

.login {
  display: flex;
  flex-direction: column; 
}
  
.login > * {
  width: 100%;
}

.password {
  flex-direction: column;    
}
  
.password > * {
  width: 100%;
}
  
.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}