.header {
    background-color: white;
}

.space{
    flex: 1 1 auto;
}

.image{
    width: 300px;
    padding-top: 50px;
}

.text-header {
    font-family: 'Verdana', serif;
    font-size: 30px;
    padding-top: 40px;
    font-weight: bold;
    color: #007dba;
}

.connexion {
  margin: 200px auto 0 auto;
  border: 1px solid #ccc;
  position: relative;    
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.15);
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  padding:15px; 
}

.login {
  padding-top: 10px;
  display: flex;
  flex-direction: column; 
}
  
.login > * {
  width: 100%;
}

.password {
  flex-direction: column;
  padding-top: 5px;
}
  
.password > * {
  width: 100%;
}
  
.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 10px;
}

.mat-button, .mat-raised-button{
  background-color:#007dba; 
  display: block;
  -webkit-text-fill-color: white;
  width: 130px;
}

.mat-dialog-title{
  background-color:#007dba;
}
