<!--  HEADER HTML -->

<div class = 'header'> 
  <span> <img class = 'image' src = './assets/img/logocapskills.jpg'>  </span>
  <span class = "space"></span>
  <button class="button"><span>Deconnexion </span></button>
  <button class="button2"><span>Mode Collaborateur </span></button>
</div>

<!--  TABLEAU REFERENT -->

<div class="container">
  <h2 class="titretableau">Collaborateurs dont vous êtes le référent</h2>            
  <br>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jules</td>
        <td>TABERLY</td>
        <td>jules.taberly@capgemini.com</td>
      </tr>
      <tr>
        <td>Quentin</td>
        <td>PRIGENT</td>
        <td>quentin.prigent@capgemini.com</td>
      </tr>
      <tr>
        <td>Cécile</td>
        <td>BOUGMA</td>
        <td>cecile.bougma@capgemini.com</td>
      </tr>
    </tbody>
  </table>
</div>


