<!--  HEADER HTML -->

<div class='header'>
  <span>
    <img class='image' src='./assets/img/logocapskills.jpg'> </span>
  <span class="space"></span>
  <button class="button">
    <span>Deconnexion </span>
  </button>
  <button class="button2">
    <span>Mode Collaborateur </span>
  </button>
</div>

<!--  TABLEAU REFERENT -->

<div class="container">
  <h2 class="titretableau">Collaborateurs dont vous êtes le référent</h2>
  <br>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jules</td>
        <td>TABERLY</td>
        <td>jules.taberly@capgemini.com</td>
      </tr>
      <tr>
        <td>Quentin</td>
        <td>PRIGENT</td>
        <td>quentin.prigent@capgemini.com</td>
      </tr>
      <tr>
        <td>Cécile</td>
        <td>BOUGMA</td>
        <td>cecile.bougma@capgemini.com</td>
      </tr>
    </tbody>
  </table>
</div>


<!--COLLABORATOR SEARCH MODAL -->
<!------------------------------>

<!-- Trigger the modal with a button -->
<span class="searchbutton">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Rechercher collaborateur</button>
</span>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sélectionner une compétence</h4>
      </div>

      <div class="modal-body">

        <!--FIRT DROPDOWN FOR SKILL TYPES -->
        <div class="container">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Domaine de compétences
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation">
                <a role="menuitem" tabindex="-1">Langage</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">SoftSkills</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">...</a>
              </li>
            </ul>
          </div>
        </div>

        <!--SECOND DROPDOWN FOR SKILL TYPES -->
        <div class="container">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Domaine de compétences
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">Langage</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">SoftSkills</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">...</a>
              </li>
            </ul>
          </div>
        </div>

        <!--STAR RATING -->
        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Valider</button>
        </div>
      </div>

    </div>
  </div>
</div>