<!-- ********************     HEADER HTML   ************************ -->
<mat-toolbar class='header'> 
  <span> <img class="image-header" src='./assets/img/logocapskills.jpg'></span>
  <span class = "space"></span>
  <div layout="row" layout-wrap>
     <div> <button mat-raised-button routerLink='/login'>Déconnexion</button></div>
       <br/>
     <div><button mat-raised-button>Profil Référent</button> </div>
  </div>
</mat-toolbar>
<div class = 'logimage'>
  <img src='image' src = './assets/img/user.png' height="50px" width="50px">collaborateur@capgemini.com
</div>
<!-- *************************************************************** -->

<div *ngFor='let user of users'>
<h5> {{user.email}} </h5>
</div>

<br>

<button mat-raised-button routerLink='/bilan'>Bilan</button>
 
<!-- <button (click)='addUser()'>Ajouter</button> -->
