/* CSS DU HEADER */

.header {
    background-color: white;
    height: 150px;
}

.image-header{
    width: 300px;
}

.space{
    flex: 1 1 auto;
}

/* CSS DES BOUTONS */

.career-manager-button{
    margin-top: 500 px;
}

.mat-button, .mat-raised-button{
    background-color:#007dba; 
    display: block;
    -webkit-text-fill-color: white;
    width: 130px;
}

.mat-dialog-title{
    background-color:#007dba;
}

/*******************************************************/