<mat-toolbar class = 'header'> 
  <span> <img class = 'image' src = './assets/img/logocapskills.jpg'>  </span>
  <span class = "space"></span>
  <div layout="row" layout-wrap>
    <br/> <br/>
     <div flex="50"> <button mat-raised-button width="30" bgcolor="FFFFF" routerLink='/login'>Déconnexion</button></div>
     <br/>
     <div flex="50" margin-top="20px"><button mat-raised-button>Profil Référent</button> </div>
  </div>
  <!-- <span class = "text-header"> Bienvenue sur Capskills <br> Application d'évaluation et <br> de suivi de compétences </span> -->
</mat-toolbar>
<div class = 'logimage'>
  <img src='image' src = './assets/img/user.png' height="50px" width="50px">collaborateur@capgemini.com
</div>

<p>
  profil works!
</p>

<tr *ngFor='let user of users'>
  <td ddtf-value>{{user.email}}</td>
<!--   <td ddtf-value>{{skill.skillType.generalSkillType.name}}</td>
  <td ddtf-value>{{skill.SkillType.name}}</td>
  <td ddtf-value>{{skill.name}}</td>  -->
</tr>

<!-- <div *ngFor='let user of users'>
<h5> {{user.email }} </h5>
</div> -->


<button routerLink='/bilan'>Bilan</button>
 
<!-- <button (click)='addUser()'>Ajouter</button> -->
