<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="list">

        <ul>
            <li>NOM</li>
            <li>le jus d'un citron</li>
            <li>¼ de concombre, coupé grossièrement</li>
            <li>1 petite tomate, coupée</li>
          </ul>






    </div>

<div class="container">
  <h2>Basic Table</h2>
           
  <table class="table">
    <thead>
      <tr>
        <th>Skill-Types</th>
        <th>Skills</th>
        <th>Actual Grade</th>
        <th>Target Grade</th>
        <th>Validate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Language</td>
        <td>Java</td>
        <td>note1</td>
        <td>note2</td>
        <td>oui/non</td>
      </tr>
      <tr>
        <td>Général</td>
        <td>Redmine</td>
        <td>note1</td>
        <td>note2</td>
        <td>oui/non</td>
      </tr>
  
    </tbody>
  </table>
</div>

</body>
</html>
